* {
  background-image: none;
  box-shadow: none;
  font-family: jetbrains mono nerd font, monospace;
}

window {
  background-color: rgba(22, 37, 58, 0.6);
}

button {
  border-radius: 0;
  border-color: rgba(198, 208, 218, 1);
  text-decoration-color: rgba(198, 208, 218, 1);
  color: rgba(198, 208, 218, 1);
  background-color: rgba(22, 37, 58, 1);
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  /* 20% Overlay 2, 80% mantle */
  background-color: rgba(89, 109, 134, 1);
  outline-style: none;
}

#lock {
  background-image: url("./icons/lock.svg");
}

#logout {
  background-image: url("./icons/logout.svg");
}

#suspend {
  background-image: url("./icons/suspend.svg");
}

#hibernate {
  background-image: url("./icons/hibernate.svg");
}

#shutdown {
  background-image: url("./icons/shutdown.svg");
}

#reboot {
  background-image: url("./icons/reboot.svg");
}
