* {
  border: none;
  outline: none;
  box-shadow: none;
  color: rgba(198, 208, 218, 1);
  font-family: jetbrains mono nerd font, monospace;
}

window {
  margin: 0px;
  background-color: transparent;
  border-radius: 10px;
}

#outer-box {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(22, 37, 58, 0.6);
  border: 1px solid #1c64d1;
}

#input {
  padding: 5px;
  padding-left: 20px;
  font-weight: bold;
  background-color: transparent;
}

#inner-box {
  font-weight: bold;
  border-radius: 10px;
}

#scroll {
  border: 0px;
}

#entry {
  border: 0px;
  border-radius: 5px;
}

#text {
  margin-left: 5px;
}

#img:selected {
  background-color: transparent;
}

#text:selected {
  background-color: transparent;
}

#entry:selected {
  background-color: rgba(89, 109, 134, 0.2);
}
